body {

}

/*.header{
    margin: 10px 0 20px 10px;
    border: 1px solid black;x
}

.header a {
        float: right;
        font-size: 18px;
        padding: 70px 10px 10px 10px;
        color: #00BCD4;
        text-decoration: none;
}


.header a:hover {
        color: #4CAF50
}*/
.imageColumn {
    position: relative;

}
.mainBG {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.mh1 img{
    width: 100%;
    height: 100%;
}

.mh1 div {
    height: 6vh;
}

.loginColumn {
    postion: relative;
}

.registerColumn {
    position: relative;
}
.loginButton {
    font-size: 30px;
    /*padding: 70px 10px 10px 10px;*/
    color: #00BCD4;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 28%;

}

.registerButton {
    font-size: 30px;
    /*padding: 70px 10px 10px 10px;*/
    color: #00BCD4;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 28%;

}

.mh2 div{
    height: 40vh;
}

.loginButton:hover {
    color: #4CAF50;
}

.registerButton:hover {
    color: #4CAF50

}